<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
</head>
<body>
    <header>
        / <a href="/">Home</a> / <a href="/items">Items</a> / <a href="/about">About</a>
    </header><br>
    <b>{{item.name}}</b> 
    <!-- {% if item.quantity %}
        в количестве {{item.quantity}} 
    {% else %}
        - товар отсутствует
    {% endif %} -->
    <br><br>
    <div>Количество: {{ item.count| default:"Товар отсутствует"}}</div>
    <br>
    <a href="/items">Назад</a>
</body>
</html>